.cover__subtitle {
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  width: 360px;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 620px) {
  .cover__subtitle {
    width: 288px;
    font-size: 14px;
    line-height: 1.14;
  }
}
