.header {
  padding-top: 28px;
  margin: 0 48px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 768px) {
  .header {
    margin: 0 24px;
  }
}

@media (max-width: 440px) {
  .header {
    padding-top: 16px;
    margin: 0 16px;
  }
}
