.header__language-list-item {
  text-align: center;
  margin-bottom: 6px;
}

.header__language-list-item:first-child {
  /* text-decoration: underline; */
  margin-right: 18px;
  border-bottom: 2px solid white;
}
